[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/local/bin/timestables.sh -o rounding
Icon=/usr/share/pixmaps/squeak.png
Terminal=false
Name=Rounding numbers
Comment=Practise rounding numbers
Categories=Application;Education;Development;
