[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/local/bin/timestables.sh -r 10
Icon=/usr/share/pixmaps/squeak.png
Terminal=false
Name=10 Times Tables
Comment=Practise times tables
Categories=Application;Education;Development;
